<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>litcrit</title>
  </head>
  <body>
    <div class="header">
      <h1>welcome to litcrit</h1>
      <h1>sign in</h1>
    </div>
    <div class="body">
      <img
        src="https://covers.openlibrary.org/b/id/295577-L.jpg"
        alt="book cover"
        height="300"
        width="200"
      />
      <div class="text-content">
        <h2 class="book-title">Test Book Title</h2>
        <p>Test Book Description</p>
      </div>
    </div>
  </body>
</html>
