<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>litcrit</title>
  </head>
  <body>
    <div class="header">
      <h1>welcome to litcrit</h1>
      <a href="/admin-sign-in" class="sign-in-btn">sign in</a>
    </div>
    <div class="body">
      <% if (posts && posts.length > 0) { %> <% posts.forEach(post => { %>
      <div class="post">
        <img
          src="https://covers.openlibrary.org/b/lccn/<%= post.lccn %>-L.jpg"
          alt="book cover"
          height="300"
          width="200"
        />
        <div class="text-content">
          <h2 class="book-title"><%= post.title %></h2>
          <p><%= post.body %></p>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>No posts found.</p>
      <% } %>
    </div>
  </body>
</html>
